<h2>
  ALL USERS LIST
</h2>
<table class="table table-striped">
  <thead>
  <th scope="col">Id</th>
  <th scope="col">Username</th>
  <th scope="col">Password</th>
  <th scope="col">Role</th>
  </thead>
  <tbody>
  <!--  iterate for values from API-->
  <tr *ngFor="let user of users;">
    <th scope="row">{{ user.id }}</th>
    <th scope="row">{{ user.username }}</th>
    <th scope="row">{{ user.password }}</th>
    <th scope="row">{{ user.role }}</th>
  </tr>
  </tbody>
</table>
